<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google font link -->

    <link rel="stylesheet" href="../styles/css/style.css">
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/svg">

    <title>QOREFI Project</title>

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="logo__box margin-l-auto">
                <img src="../img/logo.svg" alt="Logo" class="img-responsive d-block">
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="h1 text-center text-uppercase margin-t-10">Msme registration form </h1>
    </div>

    <div class="login__section">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="login__form">
                        <div class="login__form--logo">
                            <div class="logo__box">
                                <img src="../img/favicon.svg" alt="Logo" class="img-responsive d-block">
                            </div>
                            <div class="logo__text margin-t-10">
                                <img src="../img/compname.svg" alt="Company Name" class="img-responsive d-block">
                            </div>
                        </div>

                        <div class="login__form--heading">
                            <p class="text-center">Enter your login details to proceed</p>
                        </div>

                        <div class="login__field">

                            <form>
                                <label class="login__field--label">
                                    <input type="email" id="email" name="email" class="login__field--input active">
                                    <div class="login__field--placeholder">Email address</div>
                                </label>

                                <label class="login__field--label">
                                    <input type="password" id="password" name="password" class="login__field--input">
                                    <div class="login__field--placeholder">Password</div>
                                    <div class="login__psw--hide">Hide</div>

                                </label>

                                <p class="login__psw--forget text-right font-700">Forgot Password?</p>
                                <button class="btn btn-primary btn-full text-uppercase">lets get started</button>

                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="login__instructions">
                        <h4 class="h4 text-uppercase">
                            Instructions
                        </h4>

                        <div class="login__instructions--points">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus enim mus ligula
                                    sdrdssdc.
                                </li>
                                <li>
                                    Nisl sed nulla lorem vulputate lectus in lacinia faucibus. Egestas id malesuada
                                    luctus malesuada viverra elit, enim a suscipit.
                                </li>
                                <li>
                                    um dolor sit amet, consectetur adipiscing elit. Cursus enim mus ligula elementum
                                    tincidunt nisi.
                                </li>
                                <li>
                                    velit facilisis eget posuere pellentesque erat bibendum suscipit. Nisl sed nulla
                                    lorem vulputate lectus.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>