.progress {
    padding: 1.2rem 0;

    &--text {
        &.active {
            font-size: 2.1rem;
            font-weight: 500;
            line-height: 2.3rem;
        }
    }

    &__bar {
            position: relative;    

        &--container {
            width: 100%;
            height: 1rem;
            background-color: $color-white-a;
            border-radius: 1rem;
            overflow: hidden;                   
        }

        &--status {
            height: 100%;
            background: $color-secondary-light;
        }

        &--indicator {
            width: 1.4rem;
            height: 1.4rem;
            border: 4px solid $color-primary;
            border-radius: 50%;
            @include position(absolute, 50%);
            transform: translateY(-50%);
        }  
    }
}