$color-primary: #0471F5;
$color-blue: #0043d4;
$color-blue-a: #758697;   //Table Text
$color-blue-b: #F7FBFF;   //Table box
$color-blue-c: #677684;   //Search Text

$color-primary-light: #737F9A; //  #162a56 with opacity 0.6;
$color-light: #ABB4BD;

$color-secondary: #172755;
$color-secondary-light: #D4ECFF;
$color-secondary-light-a: #d4ecff80; //opacity 0.5

$color-success: #53C049;

$color-highlight-red: #E0A7A7;
$color-highlight-green: #C0BD86;

$color-white: #fff;
$color-white-a: #f4f4f4;
$color-white-b: #D7DCE0;   //select box
$color-white-c: #F7F7F7;
$color-white-d: #EAEAEA;
$color-white-e: #D5D5D5;

$color-black: #000;
$color-black-secondary: #666;
$color-black-a: #424242;

$color-border-dark:#162A56;
$color-border: #DCDFE6;

$color-yellow: #FFAA00;
$color-yellow-a: #F0D297;



$grid-width: 124rem;
